# need to remove this file before publish !!!!

package-lock=true  
@admindroid:registry=https://git.admindroid.com/api/v4/groups/333/-/packages/npm/  
//git.admindroid.com/api/v4/groups/333/-/packages/npm/:_authToken=gldt-UAPz2-sZKQQf5_-KybGE
